body {
    background-image: url("img/TileBG.png");
    background-repeat: repeat;
    
    
    background-color: black;
    color: white;

    /* CLAVE: evita el suavizado */
    image-rendering: pixelated;

    a {
            color: rgb(55, 255, 155);
    }

    /* Centering a main heading */
    h1 {
        text-align: center;
    }
    
    p {
        text-align: center;
     }
}
